// TODO: implement some better testing structure

// https://www.educative.io/blog/sass-tutorial-unit-testing-with-sass-true
// https://mts.io/2014/04/02/sass-unit-testing/
// https://github.com/jamiebuilds/bootcamp

@use "sass:list";
@use "sass:meta";
@use "sass:string";

@use "./lib/helpers.test";

$tests: (
  helpers: "lib/helpers.test",
);

@debug "Running tests from #{list.length($tests)} files";

$passed: 0;
$failed: 0;

$pad: "  ";
$line: "----------------------------------------------------------------------------------------";

@each $test, $title in $tests {
  @debug "";
  @debug $pad + $title;
  @debug $pad + string.slice($line, 0, string.length($title));

  @each $name, $func in meta.module-functions($test) {
    @if meta.call($func) {
      $passed: $passed + 1;
      @debug $pad + "#{$name} ==> passed";
    } @else {
      $failed: $failed + 1;
      @debug $pad + "#{$name} ==> failed";
    }
  }
}

@debug "";
@debug "Finished running test suite";

$total: $passed + $failed;

@if $total > 1 {
  @debug "Ran #{$total} tests, #{$failed} failed";
} @else {
  @debug "Ran #{$total} test, #{$failed} failed";
}

@if $failed > 0 {
  @error "Test suite failed, see details above";
}
