# macOS and system files
.DS_Store

# The directory Sass uses for caching
/.sass-cache/

# Ignore all generated map files
*.css.map
*.sass.map
*.scss.map

# The directory we write compiled artifacts to
/_build/

# The example file sometimes used for manual testing
example.scss
