@use "../index" with (
  $normalize: false,
  $dark-mode: media,
  $screens: (
    sm: 400px,
    md: 800px,
  ),
  $generators: (
    base: [color-tester],
    hover: [color-tester],
    active: [color-tester],
    dark: (
      base: [color-tester],
      first: [color-tester],
    ),
    responsive: (
      base: [color-tester],
      disabled: [color-tester],
      dark: (
        base: [color-tester],
        last: [color-tester],
      ),
    ),
  ),
);
