@use "../index" with (
  $tester: true,
  $normalize: false,
  $dark-mode: class,
  $screens: (
    sm: 400px,
    md: 800px,
  ),
  $generators: (
    base: [tester],
    hover: [tester],
    active: [tester],
    dark: (
      base: [tester],
      first: [tester],
      last: [tester],
    ),
    responsive: (
      base: [tester],
      disabled: [tester],
    ),
  ),
);
